<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://beta.meet.jit.si/libs/lib-jitsi-meet.min.js"></script>
</head>

<body ng-app="telzeeApp">
    <div ng-controller="jitsiController">
        <p>{{title}}</p>

        <button ng-click="initJitsiConnection()">Init Jitsi</button>

        <div id="main-container">
            <h3>Local video</h3>
            <div id="user-container-local">
                <video id="video-track-local" autoplay="true" style="width: 500px"></video>
                <audio id="audio-track-local" autoplay="true"></audio>
            </div>

            <div id="remote-video-container">
                <h3>Remote videos</h3>
            </div>

            <button ng-click="shareScreen()">Share Screen</button>
            <button ng-click="stopShareScreen()">Stop Share Screen</button>
        </div>
    </div>

    <script>
        app = angular.module("telzeeApp", []);
    </script>

    <script src="./services/JitsiService.js"></script>
    <script src="./services/presenterEffectService.js"></script>
    <script src="./controllers/JitsiController.js"></script>
</body>